{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Ticket Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="main-container">
        {% include 'sidebar.html' %}
        <div class="main">
            <style>
    .main-container {
        display: flex !important;
        flex-direction: row !important;
        width: 100vw !important;
    }

    .main {
        width: calc(100vw - 250px) !important;
        margin-left: 250px !important;
        padding: 40px 30px 30px 30px !important;
    }

    .box-container {
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start;
        width: 100%;
    }
</style>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>